extends ./layout

block header
  header.w3-container.w3-center.w3-padding-64
    h1
      b IBM DOTA LEAGUE
    p Upcoming Fixtures
    
block content
  // Enter a game
  .w3-card-4.w3-center.w3-white
    - var cols = 3;
    - var rows = 5;
    - var i = 0;
    - var j = 0;
    - var count = 0;
    - for (i = 0; i < rows && count < fixtures.length; i++)
      .w3-row
        - for (j = 0; j < cols && count < fixtures.length; j++)
          .w3-col.l4.w3-padding-8
            a.w3-card-4.w3-button(href="/fixture?id=#{fixtures[count]._id}")
              h5 Season #{fixtures[count].season}
              h4 #{prettyDate(fixtures[count].date)}
              p 
                b #{fixtures[count].team1} 
                | vs 
                b #{fixtures[count].team2}
              p Played: #{fixtures[count].played ? "Yes" : "No"}
          - count++;
    .w3-container.w3-padding-8
      a.w3-button.w3-teal.w3-center(href="/fixtures")
        h4 Click here to view only upcoming fixtures!
