extends ./layout

block header 
  .w3-container.w3-center.w3-padding-64
    h1
      b IBM DOTA LEAGUE
    p Home of the IDL
    iframe(src='http://streambadge.com/twitch/light/idluk/', style='border:none;height:5em;width:100%')

block content
  // Current Standings
  .w3-card-4.w3-center.w3-white
    .w3-container.w3-center.w3-padding-8
      h3
        b CURRENT STANDINGS
    .w3-container.w3-padding-16
      table.w3-table-all
        tr
          th Position
          th Team
          th Played
          th Won
          th Lost
          th Points
        - for (var i = 0; i < teams.length; i++) 
          - var team_pos = teamPositions[i];
            tr
              // Position
              th #{i+1}
              // Team Name
              th #{team_pos}
              // Played
              th #{teamStats.played[team_pos]}
              //- // Won
              th #{teamStats.won[team_pos]}
              //- // Lost
              th #{teamStats.played[team_pos] - teamStats.won[team_pos]}
              //- // Points
              th #{teamStats.won[team_pos]}
  .w3-row
    // Recent Games!
    .w3-col.l8.s12.w3-center
      h2 RECENT MATCHES
    #blog-entries.w3-col.l8.s12
      - var count = 0;
      - for fixture in fixtures 
        .w3-card-4.w3-margin.w3-white
          .w3-container
            h3 #{fixture.team1} vs #{fixture.team2}
            p Fixture date: #{prettyDate(fixture.date)}
          - var gcount = 0;
          - for game in fixture.games
            - gcount++;
            .w3-container
              h3 
                a(href="/view_game?id=#{game.matchID}") Game #{gcount}
              b Match ID: #{game.matchID}
              h5
                p Played #{prettyDate(game.played)}
            .w3-container
              p Winner: #{game.winner}
        - count++;
        - if(count >= 5) 
          button.w3-btn-block.w3-section.w3-blue.w3-ripple.w3-padding See All Games
          - break;
      - if(count == 0) 
        .w3-card-4.w3-margin.w3-white
          .w3-container
            p No games!
          .w3-container
            h3
              b
                p No Games played in season #{season.season_number} yet!
            
    // Introduction menu
    .w3-col.l4
      // About Card
      .w3-card-2.w3-margin.w3-margin-top
        .w3-container Season info
        .w3-container.w3-white
          h4
            b Current Season: #{season.season_number}
          p
            | Running from
            b #{prettyDate(season.startDate)}
            |  to 
            b #{prettyDate(season.endDate)}
      hr
      // Teams
      .w3-card-2.w3-margin
        .w3-container.w3-padding
          h4 Teams
        - for (var i = 0; i < teams.length; i++) 
          ul.w3-ul.w3-hoverable.w3-white
            li.w3-padding-16
              img.w3-left.w3-margin-right(src='/w3images/workshop.jpg', alt='Image', style='width:50px')
              span.w3-large #{teams[i].team_name}
              br
              span View Games
          // END Introduction Menu
        // END GRID
            br
      // END w3-content
    // Footer
